@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 21px;
}

.item--card {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    width: 250px;
    height: 350px;
    background-color: aquamarine;
    border-radius: 16px;
    justify-content: space-between;
    padding: 16px;
    gap: 16px;
    margin: 0;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.item--card:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transform: translateY(-5px);
}

.item--card img {
    max-width: 100%;
    max-height: 200px;
    object-fit: cover;
}

.item--info {
    display: flex;
    box-sizing: border-box;
    width: 100%;
    min-height: 30%;
    flex-direction: column;
    background-color: antiquewhite;
    border-radius: 8px;
    padding: 8px;
    justify-content: space-evenly;
    margin: 0;
}

.item--info h2 {
    font-weight: 600;
    font-size: 21px;
    margin: 0;
}

.item--info h3 {
    font-weight: 500;
    font-size: 21px;
    margin: 0;
}

.item--info p {
    font-weight: 500;
    font-size: 11px;
    margin: 0;
    color: #888888;
}

.items {
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
    justify-content: center;
}
